.category{
    display: inline-block;
    width: 25%;
    float: left;
    margin: 20px 0 0 0;
}
.list-category{
    width: 100%;
    min-height: 100px;
    border: 2px solid rgb(149, 155, 152);
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.list-category li:first-child{
    background-color: rgb(0, 0, 0);
    color: honeydew;
}
.list-category li{
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid rgb(221, 214, 214);
}

.list-category li:hover:not(:first-child){
    background-color: rgb(194, 235, 132);
    cursor: pointer;
}

